* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/**declaring variables**/
:root {
  --background-color: #fff;
  --text-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --cardbackgrond-color: hsl(0, 0%, 98%);
}
.dark:root {
  --background-color: hsl(207, 26%, 17%);
  --text-color: #fff;
  --cardbackground-color: hsl(209, 23%, 22%);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  padding-left: 70px;
  padding-right: 120px;
}
li {
  list-style: none;
}
/****slider***/
.label {
  background-color: #111;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.fa-moon {
  color: #f1c4af;
}
.fa-sun {
  color: #f39c12;
}
/**end of slider*/
#button {
  background-color: var(--background-color);
  border: 3px solid var(--background-color);
  color: var(--text-color);
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  margin-left: 70px;
  margin-top: 30px;
  padding: 10px;
}

#container {
  display: flex;
  flex-direction: row;
}
#image {
  margin-right: 150px;
  margin-left: 1.5rem;
}
#images {
  width: 35rem;
  height: 20rem;
  margin: 40px;
  overflow: none;
  padding: 0;
}
#container2 {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header {
  margin-bottom: 10px;
}
.arr {
  margin-right: 10px;
}

span {
  width: 25px;
  height: 9px;
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  margin-left: 12px;
  cursor: pointer;
  box-shadow: 0 4px 7px var(--shadow-color);
}
a {
  color: var(--text-color);
  text-decoration: none;
}

/*sections*/
.sec1 {
  margin-right: 90px;
}
.sec2 {
  margin-top: 40px;
}
.sec3 {
}
/*media query*/
@media screen and (max-width: 380px) {
  #button {
    width: 90px;
    margin-left: 40px;
  }
  .nav {
    margin: 2px;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    width: 100%;
  }
  #container {
    display: flex;
    flex-direction: column;
  }
  #images {
    width: 19rem;
    height: 15rem;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 17px;
    position: relative;
  }

  #container2 {
    width: fit-content;
    margin-left: 65px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
}
