* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
/**declaring variables**/
:root {
  --background-color: #fff;
  --text-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --cardbackgrond-color: hsl(0, 0%, 98%);
}
.dark:root {
  --background-color: hsl(207, 26%, 17%);
  --text-color: #fff;
  --cardbackground-color: hsl(209, 23%, 22%);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  padding-left: 70px;
  padding-right: 120px;
}
/*slider*/
#moon {
  cursor: pointer;
  margin-top: 20px;
  font-size: 30px;
}

.label {
  background-color: #111;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.fa-moon {
  color: #f1c4af;
}
.fa-sun {
  color: #f39c12;
}

/*end of slider*/
/*begining of cont*/

.cont {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px;
  margin-right: 90px;
}

#input {
  width: 30%;
  height: 10%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 3px solid var(--background-color);
  outline: none;
  border: var(--background-color);
  box-shadow: 0 4px 7px var(--shadow-color);
  background-color: var(--background-color);
  margin-left: 17px;
  border-radius: 5px;
}
input[type="text"] {
  transition: ease-in-out, width 0.35s ease-in-out;
}

#regions {
  padding: 20px;
  width: 200px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: var(--background-color);
  box-shadow: 0 4px 7px var(--shadow-color);
  outline: none;
  margin-right: 17px;
  border-radius: 5px;
}
/*end of cont*/
/*Add a loader*/
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  display: flex;
  align-items: center;
}
p {
  font-weight: 600;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*begining of li*/
li {
  list-style: none;
}
img {
  width: 270px;
  height: 190px;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  padding: 0;
}
#listItem {
}
/*end of li*/
/*list */

#card {
  box-shadow: 0 4px 7px var(--shadow-color);
  transition: 0.3s;
  width: 270px;
  height: 390px;
  background-color: var(--cardbackground-color);
  color: var(--text-color);

  text-align: start;

  border-radius: 1px;
}
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 900px;
  margin: 0 auto;
  grid-gap: 30px;
  position: relative;
  right: 9.5rem;
}
.cardBody {
  padding-left: 20px;
  font-size: 17px;
  padding-top: 20px;
}
h3 {
  font-weight: 800;
}
.cardBody h3 {
  margin-bottom: 3px;
}
#switch {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}
h2 {
  color: var(--text-color);
}
p {
  color: var(--text-color);
}

#card:hover {
  box-shadow: var(--shadow-color);
}

option {
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
}
select {
  border-radius: 15px;
}
/**media query*/
@media screen and (max-width: 480px) {
  .nav {
    margin: 2px;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 14rem;
  }
  #input {
    width: 120%;
    margin-top: -15px;
    margin-left: 2px;
  }
  #regions {
    width: 70%;
    margin-left: 2px;
    margin-top: 30px;
  }
  #button {
    position: relative;
    top: 5px;
    width: 50%;
    left: 0;
    right: 0;
  }
  #card {
    width: 270px;
    height: 350px;
  }
  img {
    width: 270px;
    height: 150px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 2px;
  }
}
@media screen and (min-width: 500px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/*

.in {
  position: relative;
  left: 16rem;
  z-index: 1;
  pointer-events: none;
}





*/
